html {
    background-image: url("img.jpg"); /* العودة إلى الصورة الأصلية jpg */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #24272b;
    color: white;
    text-align: center;
    overflow: hidden;
    direction: rtl; /* إضافة اتجاه النص من اليمين لليسار */
}

h1 {
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 25px;
    color: white;
    font-family: Arial, sans-serif; /* تحسين الخط */
}

a {
    text-decoration: none;
}

#progress {
    display: block;
}

#lnx {
    display: none;
}

#mods {
    display: none;
}

.btn {
    background-color: #008000;
    color: white;
    width: 227px;
    height: 46px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    font-family: Arial, sans-serif; /* تحسين الخط */
}

.btn:hover {
    background-color: #0069d9;
}

.btn-onln {
    background-color: #076300;
}

.btn-onln:hover {
    background-color: #18891b;
}

.btn-toolbox {
    background-color: #ae2301;
}

.btn-toolbox:hover {
    background-color: #d42a01;
}

#console {
    font-family: "logging";
}
